{% extends 'base.html.twig' %}

{% block title %}WebRadioPanel{% endblock title %}

{% block head_style %}
    {% stylesheets filter='cssrewrite'
    '@boostrap'
    '@font_awesome'
    'bundles/app/css/style.css' %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock head_style %}

{% block body %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h1>WebRadioPanel</h1>
                </div>
                <div class="col-sm-8">
                    <h2>Manager de radio</h2>
                </div>
            </div>
        </div>
    </header>

    <section id="bg-countdown" class="text-center">
        <div id="countdown-container" class="container">
            <div class="row">
                <div class="col-md-5 col-md-push-1">
                    <div id="player">
                        <h3>Écoute WebRadioPanel</h3>
                        <div id="titrage" class="container-fluid">
                            <div id="infos-musique">
                                <div class="pull-right vote">
                                    <a class="like" target="#"><i class="fa fa-thumbs-up fa-fw fa-lg"></i></a><br>
                                    <a class="unlike" target="#"><i class="fa fa-thumbs-down fa-fw fa-lg"></i></a>
                                </div>
                                <p>
                                    <span id="title"></span><br>
                                    <span id="artist"></span>
                                </p>
                            </div>
                        </div>
                        <div id="lecteur">
                            <div id="jquery-jplayer" class="jp-jplayer"></div>
                            <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
                                <div class="jp-type-single">
                                    <div class="jp-gui jp-interface">
                                        <div class="jp-volume-controls">
                                            <a class="jp-mute" role="button" tabindex="0"><i
                                                        class="fa fa-volume-off"></i></a>
                                            <a class="jp-volume-max" role="button" tabindex="0"><i
                                                        class="fa fa-volume-up"></i></a>
                                            <div class="jp-volume-bar">
                                                <div class="jp-volume-bar-value"></div>
                                            </div>
                                        </div>
                                        <div class="jp-controls-holder">
                                            <div class="jp-controls">
                                                <a class="jp-play" role="button" tabindex="0"><i class="fa fa-play"></i></a>
                                                <a class="jp-pause" role="button" tabindex="0"><i
                                                            class="fa fa-pause"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jp-no-solution">
                                        <span>Mise à jour requise</span>
                                        Pour écouter la radio, vous devez soit mettre à jour votre navigateur vers une
                                        version plus récente ou soit installer <a
                                                href="http://get.adobe.com/flashplayer/" target="_blank">le plugin
                                            flash</a>.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .col-md-6 -->
                <div class="col-md-5">
                    <div class="dedicaces">
                        <h3>Envoie ta dédicace en direct</h3>
                        {{ form_start(dedicaceForm, { 'attr': { 'id': 'form-dedicaces' } }) }}

                        {{ form_widget(dedicaceForm.name, {'attr': {'placeholder': dedicaceForm.name.vars.label} }) }}
                        {{ form_widget(dedicaceForm.content, {'attr': {'placeholder': dedicaceForm.content.vars.label} }) }}
                        {{ form_widget(dedicaceForm.send) }}
                        <div id="reponse-ajax">{{ form_errors(dedicaceForm) }}{{ form_errors(dedicaceForm.name) }}{{ form_errors(dedicaceForm.content) }}</div>
                        {{ form_end(dedicaceForm) }}
                    </div>
                </div> <!-- .col-md-6 -->
            </div>
        </div>
    </section>
{% block footer_tag_start %}
    <footer class="text-center">
        {% endblock footer_tag_start %}

        {% block footer %}
            <div class="container">
                WebRadioPanel, tous droits réservés.
            </div>
        {% endblock footer %}

        {% block footer_tag_end %}
    </footer>
{% endblock footer_tag_end %}

    {% block foot_script %}
        {% block foot_script_assetic %}

            {% javascripts
            '@jquery_bootstrap'
            'bundles/fosjsrouting/js/router.js'
            'js/fos_js_routes.js'
            '@AppBundle/Resources/public/js/frontend/jquery.jplayer.min.js'
            '@AppBundle/Resources/public/js/frontend/soundmeter.js'
            '@AppBundle/Resources/public/js/frontend/player.js'
            '@AppBundle/Resources/public/js/frontend/vote.js'
            '@AppBundle/Resources/public/js/frontend/songinfo.js'
            '@AppBundle/Resources/public/js/frontend/senddedicace.js'
            '@AppBundle/Resources/public/js/frontend/custom.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

        {% endblock foot_script_assetic %}

    {% endblock foot_script %}

{% endblock %}