{% extends 'base.html.twig' %}

{% if app.user.imageName %}
    {% set imageUrl = vich_uploader_asset(app.user, 'imageFile') %}
{% else %}
    {% set imageUrl = asset(default_profile_image) %}
{% endif %}

    {% block title %} - {{ parent() }}{% endblock title %}

    {% block head_style %}
        {% stylesheets filter='cssrewrite'
        '@boostrap'
        '@font_awesome'
        '@ionicons'
        '@adminlte_css'
        'bundles/app/css/backend.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" xmlns="http://www.w3.org/1999/html"/>
        {% endstylesheets %}
    {% endblock head_style %}

{% block body_tag %}
<body class="hold-transition skin-blue sidebar-mini fixed">

{% endblock body_tag %}

{% block body_start %}
<div class="wrapper">
    {% endblock body_start %}

    {% block header %}
        {# Main Header #}
        <header class="main-header">

            {# Logo #}
            <a href="#" class="logo">
                {# mini logo for sidebar mini 50x50 pixels #}
                <span class="logo-mini"><b>WR</b>P</span>
                {# logo for regular state and mobile devices #}
                <span class="logo-lg"><b>WebRadio</b>Panel</span>
            </a>

            {# Header Navbar #}
            <nav class="navbar navbar-static-top" role="navigation">
                {# Sidebar toggle button#}
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Ouvrir/Fermer la navigation</span>
                </a>
                {# Navbar Right Menu #}
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        {# User Account Menu #}
                        <li class="dropdown user user-menu">
                            {# Menu Toggle Button #}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {# The user image in the navbar#}
                                <img src="{{ imageUrl }}" class="user-image user-image-refresh img-square"
                                     alt="{{ app.user.username }}">
                                {# hidden-xs hides the username on small devices so only the image appears. #}
                                <span class="hidden-xs">{{ app.user.username }}</span>
                            </a>
                            <ul class="dropdown-menu">
                                {# The user image in the menu #}
                                <li class="user-header">
                                    <img src="{{ imageUrl }}" class="img-circle"
                                         alt="{{ app.user.username }}">

                                    <p>
                                        {{ app.user.username }}
                                        <small>
                                            {% for role in app.user.roles %}
                                                {{ role|trans }}{% if not loop.last %},{% endif %}
                                            {% endfor %}
                                        </small>
                                    </p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat"><i class="fa fa-user"></i>
                                            Mon
                                            profil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="{{ path('fos_user_security_logout') }}"
                                           class="btn btn-default btn-flat"><i
                                                    class="fa fa-power-off"></i> Déconnexion</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    {% endblock header %}

    {% block sidebar %}

        {% set route = app.request.attributes.get('_route') %}

        {# Left side column. contains the logo and sidebar #}
        <aside class="main-sidebar">

            {# sidebar: style can be found in sidebar.less #}
            <section class="sidebar">

                {# Sidebar user panel (optional) #}

                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="{{ imageUrl }}"
                             class="user-image user-image-refresh" alt="{{ app.user.username }}">
                    </div>
                    <div class="pull-left info">
                        <p>{{ app.user.username }}</p>
                        <a href="{{ path('fos_user_security_logout') }}" title="Déconnexion">
                            <small><i class="fa fa-power-off"></i> Déconnexion</small>
                        </a>
                    </div>
                </div>

                {# Sidebar Menu #}
                <ul class="sidebar-menu">
                    {% if is_granted('ROLE_RADIO_HOST') %}
                        <li class="header">{{ 'ROLE_RADIO_HOST'|trans|upper }}</li>
                        <li {% if route == 'board' %}class="active"{% endif %}><a
                                    href="{{ path('board') }}"><i
                                        class="fa fa-dashboard fa-fw"></i> <span>Panel animateur</span></a></li>
                    {% endif %}

                    {% if is_granted('ROLE_PROGRAMME_DIRECTOR') %}
                        <li class="header">{{ 'ROLE_PROGRAMME_DIRECTOR'|trans|upper }}</li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-music fa-fw"></i> <span>Musiques</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a
                                            href="#"><i class="fa fa-circle-o"></i> Sans
                                        pochette</a></li>
                            </ul>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="header">{{ 'ROLE_ADMIN'|trans|upper }}</li>
                        <li class="{% if route in ['fos_user_registration_register'] %}active{% endif %} treeview">
                            <a href="#">
                                <i class="fa fa-user fa-fw"></i> <span>Utilisateurs</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if route == 'fos_user_registration_register' %}class="active"{% endif %}>
                                    <a href="{{ path('fos_user_registration_register') }}">
                                        <i class="fa fa-plus fa-fw"></i> Nouvel utilisateur
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li class="header">{{ 'ROLE_SUPER_ADMIN'|trans|upper }}</li>
                        <li><a target="_blank" href="{{ path('admin') }}"><i class="fa fa-cogs fa-fw"></i>
                                <span>Easy Admin</span><span
                                        class="pull-right"><i class="fa fa-external-link"></i></span></a></li>
                        {% if app.debug %}
                            <li><a target="_blank" href="{{ path('console') }}"><i class="fa fa-terminal fa-fw"></i>
                                    <span>Console</span><span
                                            class="pull-right"><i class="fa fa-external-link"></i></span></a></li>
                        {% endif %}
                    {% endif %}

                    <li class="header">GÉNÉRAL</li>
                    <li {% if route == 'fos_user_profile_show' %}class="active"{% endif %}>
                        <a href="{{ path('fos_user_profile_show') }}"><i
                                    class="fa fa-user fa-fw"></i> <span>Mon profil</span></a></li>
                    <li><a href="{{ path('homepage') }}"><i class="fa fa-music"></i> <span>Radio</span></a></li>
                </ul>
                {# /.sidebar-menu #}
            </section>
            {# /.sidebar #}
        </aside>
    {% endblock sidebar %}

    {% block content %}
        {# Content Wrapper. Contains page content #}
        <div class="content-wrapper">
            <div id="flash-messages">
                {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        <div class="alert alert-{{ label }}">
                            {{ flash }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            {# Content Header (Page header) #}
            <section class="content-header">
                {% block content_header %}
                {% endblock content_header %}
            </section>

            {# Main content #}
            <section class="content">
                {% block main_content %}

                {% endblock main_content %}
            </section> {# /.content #}
        </div>
        {# /.content-wrapper #}
    {% endblock content %}

    {% block footer %}
        {# Main Footer #}
        <footer class="main-footer">
            {# Default to the left #}
            <strong>Copyright &copy; 2015 <a href="{{ path('homepage') }}">WebRadioPanel</a>.</strong> Tous droits
            réservés.
        </footer>
    {% endblock footer %}

    {% block body_end_before_js %}
</div> {# ./wrapper #}
{% endblock body_end_before_js %}

{% block foot_script %}

{% block foot_script_assetic %}

{% endblock foot_script_assetic %}

{% endblock foot_script %}