{% extends '@FOSUser/layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Connexion - WebRadioPanel{% endblock title %}

{% block head_style %}
    {% stylesheets filter='cssrewrite'
    '@boostrap'
    '@font_awesome'
    '@adminlte_css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" xmlns="http://www.w3.org/1999/html"/>
    {% endstylesheets %}
{% endblock head_style %}
{% block body_tag %}
<body class="hold-transition login-page">
{% endblock body_tag %}

{% block body %}
<div class="login-box">
    <div class="login-logo">
        <b>WebRadio</b>Panel
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">
            Connectez-vous pour accéder au panel.
        </p>
        {% if error %}
            <div class="callout callout-danger"
                 role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="{{ 'security.login.username'|trans }}"
                       id="username" name="_username" value="{{ last_username }}" required="required"/>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="{{ 'security.login.password'|trans }}"
                       id="password" name="_password" required="required"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-7 col-sm-8">
                    <label>
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                        {{ 'security.login.remember_me'|trans }}</label>
                </div>
                <!-- /.col -->
                <div class="col-xs-5 col-sm-4">
                    <input type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block btn-flat"
                           value="{{ 'security.login.submit'|trans }}"/>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
</div>
<!-- /.login-box-body -->

{% block foot_script %}
    {% block foot_script_assetic %}

        {% javascripts
        '@jquery_bootstrap' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

    {% endblock foot_script_assetic %}

{% endblock foot_script %}
{% endblock body %}